<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InvesWes | Los mejores canales</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="icon" type="image/png" href="/imgs/inveswes_favicon.png">
</head>
<body>
    <div class="topnav">
        ##topnav##
    </div>
 <div class="main no_sus">
        <div class="row">
            <div class="container-left card">
                <h2>##nombre##</h2>
                <div class="para_cartera">
                    <ul>
                        <li>Descripción
                            <p>##descripcion##</p>
                        </li>
                        <li>##suscriptores## suscriptores</p></li>
                        <li>Precio diario ##precio_diario## TLMCoins</li>
                        ##boton##
                        <li style="color: orange; padding-top: 1rem">##wallet-info##</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/canal.js" defer async></script>
    ##footer##
</body>
</html>