<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi cartera</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="icon" type="image/png" href="/imgs/inveswes_favicon.png">
</head>
<body>
    <div class="topnav">
        ##topnav##
    </div>
    <div class="main cartera">
        <div class="row">
            <div class="col-6 container-left">
                <h2>Mi cartera</h2>
                <p>
                    <span>Aquí puedes controlar tus compras virtualmente.<br>Tu precio de compra, indicado manualmente, se compara con el precio actual del valor y se calculan las plusvalías automáticamente.</span>
                </p>
                <div class="form">
                    <label><span>Seleccionar un valor</span>
                        <select id="select-crypto">
                            <option selected="selected" disabled>Selecciona un valor</option>
                            ##ticker##
                        </select>
                    </label>
                    <label><span>Precio al que has comprado ($)</span>
                        <input type="number" step="0.01" nombre="precio" id="precio">
                    </label>
                    <label><span>Cantidad</span>
                        <input type="number" step="0.01" nombre="cantidad" id="cantidad">
                    </label>
                    <button class="btn" type="submit" name="guardar" id="guardar_valor">Añadir a la cartera</button>
                </div>
            </div>
            <div class="col-6 container-left valores">
                <div class="finder" id="finder">
                    <input type="text" id="buscar" onkeyup="searching()" placeholder="Buscar en la tabla..." title="Buscar..." autofocus>
                    <!--<a href="" class="btn-finder">Nuevo</a>-->
                </div>
                <table style="width:100%" id="table">
                    <tr>
                        <th>Símbolo</th>
                        <th>Precio Compra</th>
                        <th>Precio Actual</th>
                        <th>Cantidad</th>
                        <th>+/- ($)</th>
                        <th>+/- (%)</th>
                        <th></th>
                    </tr>
                    ##tr##          
                </table> 
            </div>
        </div>
    </div>
    ##footer##
</body>
</html>