
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi cuenta</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="icon" type="image/png" href="/imgs/inveswes_favicon.png">
</head>
<body>
    <div class="topnav">
        ##topnav##
    </div>
    <div class="main acceso">
        <h1>Mi cuenta</h1> 
        <div class="row cuenta">
            <div class="col-6">
                <div class="menu">
                ##menu##
                </div>
            </div>
            <div class="col-6">
                <div class="form">
                    <label><span>Nueva contraseña</span>
                        <input type="password" name="password_new" id="password_new" autofocus>
                    </label>
                    <label><span>Confirmar contraseña nueva</span>
                        <input type="password" name="password_new_repeat" id="password_new_repeat">
                    </label>
                    <label><span>Contraseña actual</span>
                        <input type="password" name="password_current" id="password_current">
                    </label>
                    <button class="btn" name="update_password" id="update_password" type="submit">Actualizar contraseña</button>
                    <small style="color: orange; margin-top: 0.6rem !important; display:block;" id="fecha">Última modificación: ##fecha##</small>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/updates.js" defer async></script>
    ##footer##
</body>
</html>